* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    background: #FFF;
    text-align: center;
    font: 1.2em/1 "Raleway";
}
.wrapper {
    height: 100%;
}
.row {
    width: 95%;
    margin: auto;
    overflow: hidden;
}
/*login section*/
img.locate {
    top: 149px;
    position: relative;
}
.login {
    margin: auto;
    width: 334px;
    height: 287px;
    margin-top: 100px;
    padding-top: 77px;
    background: aliceblue;
}

.box-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form-section {
    justify-content: center;
    margin: 0 7px;
}
input.first {
    width: 252px;
    height: 37px;
    padding: 12px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #cacaff66;
}
.first:active {
    border: 1px solid #449aed99;
}
input#submit-button {
    width: 206px;
    height: 40px;
    color: white;
    background-color: #00aeef;
    border: 1px solid white;
    border-radius: 15px;
}
.sb {
    width: 112px;
    height: 38px;
    color: white;
    background-color: #00aeef;
    border: 1px solid white;
    border-radius: 15px;
}
/*End of Login section*/
/*side navigation*/
.navigation {
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 270px;
	background-color: cornflowerblue;
	z-index: 1;
}
.center {
	width: 80%;
	height: 100%;
	background-color: #eaeceb33;
	top: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	padding: 20px 30px 0 30px;
	overflow: hidden;
}
.menu {
	position: relative;
	top: 97px;
}
.menu_active {
	background-image: linear-gradient(to right, rgba(255,0,0,0),rgb(45, 103, 236));
}
.menu-items {
	list-style: none;
	padding: 25px 2px 25px 28px;
	text-align: left;
}
.item {
	color: white;
	text-decoration: none;
}
@media(min-width: 768px) {
    .row {
        display: flex;
    }
    .col-2 {flex: 2}
    .col-3 {flex: 3}
    .col-4 {flex: 4}
    .col-8 {flex: 8}
    .col-9 {flex: 9}
    .col-10 {flex: 10}
    .col-12 {flex: 12}
}