@font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-regular[1].woff") format('woff'),
         url("../fonts/proximanova-light[1].woff") format('woff'),
         url("../fonts/proximanova-bold[1].woff") format('woff');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    background: #FFF;
    text-align: center;
    font: 1.2em/1 "Proxima";
}
.wrapper {
    height: 100%;
}
.row {
    width: 95%;
    margin: auto;
    overflow: hidden;
}
/*login section*/
img.locate {
    top: 149px;
    position: relative;
}
.login {
    margin: auto;
    width: 334px;
    height: 287px;
    margin-top: 100px;
    padding-top: 77px;
    background: aliceblue;
}

.box-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form-section {
    justify-content: center;
    margin: 0 7px;
}
input.first {
    width: 252px;
    height: 37px;
    padding: 12px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #cacaff66;
}
.first:active {
    border: 1px solid #449aed99;
}
input#submit-button {
    width: 206px;
    height: 40px;
    color: white;
    background-color: #00aeef;
    border: 1px solid white;
    border-radius: 15px;
}
.sb {
    width: 112px;
    height: 38px;
    color: white;
    background-color: #00aeef;
    border: 1px solid white;
    border-radius: 15px;
}
/*End of Login section*/
/*side navigation*/
.navigation {
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 270px;
	background-color: cornflowerblue;
	z-index: 1;
}
.center {
	width: 80%;
	height: 100%;
	background-color: #eaeceb33;
	top: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	padding: 20px 30px 0 30px;
	overflow: hidden;
}
.menu {
	position: relative;
	top: 97px;
}
.menu_active {
	background-image: linear-gradient(to right, rgba(255,0,0,0),rgb(45, 103, 236));
}
.menu-items {
	list-style: none;
	padding: 25px 2px 25px 28px;
	text-align: left;
}
.item {
	color: white;
	text-decoration: none;
}
/*dashboard shopping cart*/
.cart {
    text-align: left;
    padding: 23px;
}
ul.cart-items {
    list-style: none;
}
.product-table {
	text-align: center;
	width: 95%;
}
.product-columns {
	display: flex;
	list-style: none;
	height: 57px;
	padding: 17px;
	background-color: #f0f0f0;
}
ul.product-columns.product-row {
	background-color: #fffefe;
	font-size: smaller;
	border-bottom: 1px solid #c9c9cc99;
}
.column {
	text-align: left;
	padding: 0 12px;
}
.column1 {
    width: 454px;
}
.column2 {
    width: 222px;
}
.btn {
	height: 35px;
	width: 120px;
	border-radius: 6px;
	border: none;
	background-color: #6495ed;
	font-weight: bold;
	color: white;
	position: relative;
	bottom: 3px;
	left: 20px;
}
#qty {
	width: 57px;
	height: 31px;
	padding: 3px;
	font-size: smaller;
	text-align: center;
	border-radius: 8px;
	border: 1px solid #f0f0f0;
    margin-right: -6px
}
/*sales record*/
li.column.columntwo {
    width: 134px;
}
li.column.columnone {
    width: 351px;
}
li.column.columnthree {
    width: 166px;
}
li.column.columnfour {
    width: 125px;
}
li.cr {
    text-align: left;
    padding: 16px;
}
li.pitem {
    padding: 9px 0;
}
/*media queries*/
@media(min-width: 768px) {
    .row {
        display: flex;
    }
    .col-2 {flex: 2}
    .col-3 {flex: 3}
    .col-4 {flex: 4}
    .col-8 {flex: 8}
    .col-9 {flex: 9}
    .col-10 {flex: 10}
    .col-12 {flex: 12}
}